<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    }
    function apiCall() {
      $("#result").html('Loading...')
      $.get("/getCompanyInfo", function(data) {
        $("#result").html(data)
      })
    }
  </script>
</head>
<body>
  <a href="/">Disconnect</a>
  <h3>Connected!</h3>
  <div th:with="firstPer=${session.givenName}">
  		<p>You are now connected to Quickbooks. The buttons below allow you to interact with the interface</p>
	  
  </div>
  
  <div>
    <button onclick="apiCall()">Get All Invoices</button>
    <br /><br />
    <div><code id="result"></code></div>
    </div>
</body>
</html>